# Firebase — projeto erick-c7214
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBZP7R6v08MNsPv_BeT3DGT5jStpc75GXg
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=erick-c7214.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=erick-c7214
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=erick-c7214.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=495249634769
EXPO_PUBLIC_FIREBASE_APP_ID=1:495249634769:web:1379c03d766888362cdcf0

# Credenciais para popular o Firestore (crie o utilizador no Firebase Auth)
SEED_USER_EMAIL=
SEED_USER_PASSWORD=
